<!DOCTYPE html>
<html>
	<head>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav class="navbar">
			<ul>
				<li><a href="https://www.linkedin.com/in/danpalma"><span class="fa fa-linkedin-square"></span></a>
				<li><a href="https://github.com/dpalma"><span class="fa fa-github-square"></span></a>
			</ul>
		</nav>
		<div class="container">
			{{content}}
		</div>
  </body>
</html>
